 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 675px;
}

.u-section-1 .u-group-1 {
  width: 411px;
  min-height: 483px;
  height: auto;
  margin: 46px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding-bottom: 24px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-family: Lato, sans-serif;
  text-shadow: 2px 2px 8px rgba(62,88,111,0.4);
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: none;
  width: 411px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 1.4;
  width: 411px;
  margin: 29px auto 0;
}

.u-section-1 .u-text-3 {
  letter-spacing: 0px;
  font-size: 0.875rem;
  text-transform: none;
  width: 409px;
  margin: 29px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.125rem;
  background-image: none;
  border-style: none;
  margin: 20px auto 0;
  padding: 14px 42px 15px 41px;
}

.u-section-1 .u-image-1 {
  width: 478px;
  height: 409px;
  margin: -428px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-top: 102px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    animation-duration: 1000ms;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-image-1 {
    width: 470px;
    height: 403px;
    margin-top: -403px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 343px;
    min-height: 577px;
    margin-top: 216px;
  }

  .u-section-1 .u-text-1 {
    width: 318px;
  }

  .u-section-1 .u-text-2 {
    width: 318px;
  }

  .u-section-1 .u-text-3 {
    width: 318px;
  }

  .u-section-1 .u-image-1 {
    width: 360px;
    height: 309px;
    margin-top: -443px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 771px;
  }

  .u-section-1 .u-group-1 {
    width: 313px;
    min-height: 605px;
    margin-top: 96px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 0;
    margin-left: 22px;
  }

  .u-section-1 .u-text-2 {
    width: 270px;
  }

  .u-section-1 .u-text-3 {
    width: 270px;
  }

  .u-section-1 .u-image-1 {
    width: 227px;
    height: 194px;
    margin-top: -400px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1121px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 481px;
    min-height: 448px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-1 {
    height: 291px;
    margin-top: -816px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 831px;
}

.u-section-2 .u-image-1 {
  width: 247px;
  height: 253px;
  object-position: 50% 0%;
  animation-duration: 1000ms;
  margin: 67px auto 0 265px;
}

.u-section-2 .u-image-2 {
  width: 247px;
  height: 253px;
  object-position: 50% 0%;
  animation-duration: 1000ms;
  margin: -253px 268px 0 auto;
}

.u-section-2 .u-group-1 {
  min-height: 425px;
  width: 805px;
  margin: 25px auto 60px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 1.25rem;
  line-height: 1.2;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  line-height: 1.2;
  font-size: 3rem;
  letter-spacing: 0px;
  font-family: Lato, sans-serif;
  font-weight: 700;
  margin: 18px 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  margin: 18px 0 0;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.125rem;
  background-image: none;
  border-style: none;
  margin: 25px auto 0;
  padding: 14px 42px 15px 41px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 797px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 174px;
  }

  .u-section-2 .u-image-2 {
    margin-right: 176px;
  }

  .u-section-2 .u-group-1 {
    min-height: 382px;
    margin-top: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 854px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 72px;
  }

  .u-section-2 .u-image-2 {
    margin-right: 72px;
  }

  .u-section-2 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 980px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    margin-right: 0;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
    margin-top: 124px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1110px;
  }

  .u-section-2 .u-image-1 {
    width: 249px;
    height: 249px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -135px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 6px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 866px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  letter-spacing: 0px;
  font-family: Lato, sans-serif;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 66px auto 0;
}

.u-section-3 .u-list-1 {
  margin-top: 34px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 574px;
  grid-gap: 30px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  letter-spacing: 0px;
  line-height: 1.2;
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 700;
  font-family: Lato, sans-serif;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 1px 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-4 {
  letter-spacing: 0px;
  line-height: 1.2;
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 700;
  font-family: Lato, sans-serif;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-5 {
  margin: 20px 1px 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  background-image: none;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-6 {
  letter-spacing: 0px;
  line-height: 1.2;
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 700;
  font-family: Lato, sans-serif;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-7 {
  margin: 20px 1px 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-icon-4 {
  height: 64px;
  width: 64px;
  background-image: none;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-8 {
  letter-spacing: 0px;
  line-height: 1.2;
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 700;
  font-family: Lato, sans-serif;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-9 {
  margin: 20px 1px 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-icon-5 {
  height: 64px;
  width: 64px;
  background-image: none;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-10 {
  letter-spacing: 0px;
  line-height: 1.2;
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 700;
  font-family: Lato, sans-serif;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-11 {
  margin: 20px 1px 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-icon-6 {
  height: 64px;
  width: 64px;
  background-image: none;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-12 {
  letter-spacing: 0px;
  line-height: 1.2;
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 700;
  font-family: Lato, sans-serif;
  margin: 20px auto 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-13 {
  margin: 20px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 473px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-13 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 815px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 612px;
}

.u-section-4 .u-group-1 {
  width: 524px;
  min-height: 472px;
  margin: 60px auto 0 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 29px;
}

.u-section-4 .u-text-1 {
  letter-spacing: 0px;
  font-size: 3rem;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 1px;
}

.u-section-4 .u-text-2 {
  line-height: 2;
  margin: 29px 1px 0;
}

.u-section-4 .u-btn-1 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.125rem;
  background-image: none;
  border-style: none;
  margin: 48px auto 0 1px;
  padding: 14px 42px 15px 41px;
}

.u-section-4 .u-image-1 {
  width: 570px;
  height: 413px;
  margin: -472px 0 59px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 602px;
  }

  .u-section-4 .u-image-1 {
    width: 389px;
    height: 282px;
    margin-top: -426px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-image-1 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    min-height: 418px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 566px;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 246px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 622px;
}

.u-section-5 .u-tabs-1 {
  min-height: 528px;
  margin-top: 60px;
  margin-bottom: 21px;
}

.u-section-5 .u-tab-link-1 {
  font-size: 1.125rem;
  background-image: none;
  letter-spacing: 0px;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-5 .u-tab-link-2 {
  font-size: 1.125rem;
  background-image: none;
  letter-spacing: 0px;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-5 .u-tab-link-3 {
  font-size: 1.125rem;
  background-image: none;
  letter-spacing: 0px;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-5 .u-tab-pane-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  width: 232px;
  height: 232px;
  background-image: url("images/automation-transparent.png");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-5 .u-text-1 {
  line-height: 1.8;
  width: 774px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-5 .u-text-2 {
  width: 774px;
  margin: 20px auto 0;
}

.u-section-5 .u-tab-pane-2 {
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-5 .u-text-3 {
  line-height: 1.8;
  width: 242px;
  margin: 0 auto;
}

.u-section-5 .u-tab-pane-3 {
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 15px 30px;
}

.u-section-5 .u-text-4 {
  margin: 16px auto 0;
}

.u-section-5 .u-text-5 {
  margin: 18px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-tabs-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    width: 660px;
  }

  .u-section-5 .u-text-2 {
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    width: 520px;
  }

  .u-section-5 .u-text-2 {
    width: 520px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 320px;
  }

  .u-section-5 .u-text-2 {
    width: 320px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 642px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 571px;
}

.u-section-6 .u-container-layout-1 {
  padding: 28px 60px 28px 21px;
}

.u-section-6 .u-group-1 {
  width: 133px;
  min-height: 109px;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  width: 105px;
  margin: 0 auto;
}

.u-section-6 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -109px 0 0 178px;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  margin: 78px 0 0;
}

.u-section-6 .u-text-4 {
  font-weight: 700;
  margin: 15px 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 571px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  margin-top: 0;
  margin-bottom: 0;
  height: 419px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 802px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 682px;
  }

  .u-section-6 .u-group-1 {
    margin-top: 25px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 14px;
    margin-right: 9px;
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 6px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-top: 25px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 682px;
    background-position: 50% 50%;
  }

  .u-section-6 .u-image-1 {
    height: 337px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 949px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 819px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 27px;
    padding-right: 30px;
    padding-bottom: 27px;
  }

  .u-section-6 .u-group-1 {
    margin-top: 0;
  }

  .u-section-6 .u-text-2 {
    margin-top: 21px;
    margin-right: 0;
    margin-left: 9px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 37px;
    margin-left: 9px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 37px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 819px;
  }

  .u-section-6 .u-image-1 {
    height: 247px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1084px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 40px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 608px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-6 .u-group-1 {
    margin-top: 25px;
  }

  .u-section-6 .u-text-2 {
    margin-top: -109px;
    margin-right: 53px;
    margin-left: 170px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 73px;
    margin-right: 9px;
    margin-left: 0;
  }

  .u-section-6 .u-text-4 {
    margin-top: 25px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 376px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    height: 428px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1032px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 719px;
  }

  .u-section-6 .u-group-1 {
    margin-top: 0;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-6 .u-text-2 {
    margin-top: 21px;
    margin-right: 0;
    margin-left: 9px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 40px;
    margin-right: 0;
    margin-left: 9px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 21px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 237px;
  }

  .u-section-6 .u-image-1 {
    height: 263px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 520px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 473px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  letter-spacing: 6px;
  font-weight: 700;
}

.u-section-7 .u-text-2 {
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-7 .u-text-3 {
  font-size: 1.25rem;
  line-height: 2;
  font-weight: 700;
  margin: 38px 0 0;
}

.u-section-7 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 22px auto 0 0;
  padding: 0;
}

.u-section-7 .u-icon-1 {
  font-size: 1.2em;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 473px;
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-text-4 {
  letter-spacing: 6px;
  font-weight: 700;
  margin: 0;
}

.u-section-7 .u-text-5 {
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-7 .u-text-6 {
  font-size: 1.25rem;
  line-height: 2;
  font-weight: 700;
  margin: 13px 0 0;
}

.u-section-7 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 2.25rem;
  letter-spacing: 1px;
  margin: 29px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 438px;
  }

  .u-section-7 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 390px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 390px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 152px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-btn-1 {
    font-size: 1.875rem;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-btn-2 {
    font-size: 1.875rem;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 252px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 630px;
}

.u-section-8 .u-group-1 {
  width: 700px;
  min-height: 567px;
  margin: 60px auto;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-8 .u-text-2 {
  margin: 15px auto 0;
}

.u-section-8 .u-form-1 {
  height: 340px;
  width: 570px;
  margin: 20px auto 0;
}

@media (max-width: 767px) {
  .u-section-8 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 0;
  }

  .u-section-8 .u-form-1 {
    width: 520px;
    margin-left: -10px;
    margin-right: -10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-8 .u-form-1 {
    width: 320px;
  }
}